.git
.gitignore
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
.env
.env.*
Dockerfile
Dockerfile.prod
docker-compose*.yml
npm-debug.log
composer.lock
