.env
.env.*
!.env.example
!.env.production.example

/vendor
/node_modules
/storage/*.key
/storage/app/public
/bootstrap/cache/*.php

/public/build
/public/hot

/motor1000
/stacktrace_full.log

.idea
.vscode
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log